spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false
  datasource:
    url: ${DATABASE_URL}
  mail:
    host: ${SMTP_HOST}
    port: ${SMTP_PORT}
    username: ${SMTP_USER}
    password: ${SMTP_PASSWORD}
    default-encoding: UTF-8
    jndi-name: mail/Session
    test-connection: false
security:
  oauth2:
    client:
      client-id: ${CLIENT_ID}
      client-secret: ${CLIENT_SECRET}
jwt:
  secret: ${JWT_SECRET}
  duration: ${JWT_DURATION}
host:
  full:
    dns:
      auth:
        link: /api/v1
front:
  url: ${URL_FRONT}
