spring:
  profiles:
    active: ${APP_PROFILE:test}
  jpa:
    open-in-view: false
  data:
    web:
      pageable:
        page-parameter: page
        size-parameter: size
        one-indexed-parameters: false
        default-page-size: 50
      sort:
        sort-parameter: sort
server:
  port: ${SERVER_PORT:8080}
  servlet:
    context-path: /api/v1
#springdoc:
#  swagger-ui:
#    path: /swagger-ui.html
#    enabled: true
#  api-docs:
#    path: /api-docs
#    enabled: false
host:
  full:
    dns:
      auth:
        link: /api/v1

springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui
  #    oauth:
  #      client-id: todo
  #      client-secret: todo123
  api-docs:
    enabled: true